.example__container {
  height: 500px;
}

.example__title {
  font-family: var(--main-font);
  padding: 20px 0px 15px;
  font-size: 2em;
  color: var(--orange);
  text-shadow: 1px 1px 12px rgba(2, 2, 5, 0.4);
}

.example__description {
  text-shadow: 1px 1px 6px rgba(2, 2, 5, 0.2);
  color: var(--yellow);
}

.example__children {
  padding: 25px 0px;
}
